In [5]:
import numpy as np
import os
import pandas as pd

In [6]:
past = 'Enem/DataSet_ENEM/'

In [7]:
files = os.listdir(past)

In [11]:
df = []
chunks = []
for chunk in pd.read_csv(past + files[0], encoding= "ISO-8859-1", delimiter = ';', low_memory = False, chunksize = 2000, keep_default_na = False):
    chunks.append(chunk)
data = pd.concat(chunks, axis= 0)
df.append(data)

In [12]:
data

,NU_INSCRICAO,NU_ANO,NU_IDADE,TP_SEXO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,TP_PRESENCA,CO_PROVA,...,Q128,Q129,Q130,Q131,Q132,Q133,Q134,Q135,Q136,Q137
0,1,1998,19,F,2408003,MOSSORO,24,RN,1,B,...,A,B,A,B,B,B,B,B,B,B
1,2,1998,17,F,2401453,BARAUNA,24,RN,1,B,...,B,B,A,A,B,C,A,A,A,A
2,3,1998,18,M,2408003,MOSSORO,24,RN,1,Z,...,A,A,A,A,C,C,C,C,C,C
3,4,1998,18,M,2408003,MOSSORO,24,RN,1,G,...,B,B,A,A,C,C,B,B,B,B
4,5,1998,21,M,2413102,SENADOR ELOI DE SOUZA,24,RN,1,A,...,A,A,A,A,B,C,B,B,B,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157216,157217,1998,22,F,5103403,CUIABA,51,MT,1,A,...,A,B,A,B,B,C,B,A,A,C
157217,157218,1998,19,F,5103403,CUIABA,51,MT,1,A,...,A,B,B,B,B,B,B,A,A,A
157218,157219,1998,17,F,5103403,CUIABA,51,MT,1,A,...,B,B,B,A,B,A,C,A,A,C
157219,157220,1998,18,F,5103403,CUIABA,51,MT,0,,...,,,,,,,,,,
157220,157221,1998,30,F,5103403,CUIABA,51,MT,0,,...,,,,,,,,,,

In [ ]:
df1 = pd.DataFrame(pd.concat(d,ignore_index = True, join="inner"))

In [ ]:
#pd.read_csv(past + file, encoding= "ISO-8859-1", delimiter = ';', on_bad_lines = 'skip', low_memory = True, index_col = False, chunksize = 10000):

In [ ]:
#df = pd.read_csv(past + files[10], encoding= "ISO-8859-1", delimiter = ';', on_bad_lines = 'skip', low_memory = True, 
                     index_col = False, engine ='python', memory_map = True)